/* Common styles */
.project-page {
  padding: 10px; /* Padding around the content */
  padding-top: 50px;
  background-color: #313f57; /* Background color for the page */
  text-align: center; /* Center align content */
}

.project-container {
  max-width: 1200px; /* Limit width of the projects */
  margin: 0 auto; /* Center align container */
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Gap between project items */
}

.project-heading {
  font-size: 2.5rem;
  color: #fff; /* Adjust color to fit your theme */
  margin-bottom: 40px;
  width: 100%; /* Full width for heading */
  text-align: center; /* Center align heading */
}

.project-item {
  width: 100%; /* Take full width of the container */
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px; /* Increased padding between items */
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-image {
  flex: 0 0 30%; /* Adjust width of image area */
  padding-right: 40px; /* Increased padding around the image */
}

.project-image img {
  max-width: 100%;
  height: auto;
}

.project-details {
  flex: 1; /* Take remaining width */
  text-align: left; /* Align text to the left */
}

.project-details h2 {
  font-size: 2rem; /* Larger font size for project titles */
  margin-bottom: 10px; /* Reduce margin for smaller screens */
  color: #fff; /* Adjust color to fit your theme */
}

.project-details p {
  font-size: 1.2rem; /* Increased font size for project descriptions */
  line-height: 1.6;
  color: #fff; /* Adjust color to fit your theme */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .project-content {
    display: flex;
    align-items: center;
    flex-direction: row; /* Row direction for laptop view */
  }

  .project-image {
    flex: 0 0 30%;
    padding-right: 40px;
  }

  .project-details {
    flex: 0 0 65%;
    padding-left: 40px;
    text-align: left;
  }

  /* Alternate project item layout */
  .project-item:nth-child(odd) .project-image {
    order: 1; /* Image on the left for odd items */
    padding-right: 40px;
    padding-left: 0;
  }

  .project-item:nth-child(odd) .project-details {
    order: 2;
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
  }

  .project-item:nth-child(even) .project-image {
    order: 2; /* Image on the right for even items */
    padding-right: 0;
    padding-left: 40px;
  }

  .project-item:nth-child(even) .project-details {
    order: 1;
    padding-left: 0;
    padding-right: 40px;
    text-align: right; /* Align text to the right */
  }
}

@media (max-width: 768px) {
  .project-page {
    padding: 20px 20px;
  }

  .project-item {
    padding-bottom: 30px;
  }

  .project-image {
    flex: 0 0 100%;
    padding-right: 0;
    margin-bottom: 20px; /* Increase bottom margin for better spacing */
  }
 .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .project-details {
    flex: 1 0 100%;
    text-align: center;
  }

  .project-details h2 {
    font-size: 1.8rem; /* Adjusted font size */
    margin-bottom: 15px;
  }

  .project-details p {
    font-size: 1.1rem; /* Adjusted font size */
  }
}

@media (max-width: 480px) {
  .project-page {
    padding: 20px 20px;
  }

  .project-item {
    padding-bottom: 20px;
  }

  .project-details h2 {
    font-size: 1.6rem; /* Adjusted font size */
    margin-bottom: 10px;
  }

  .project-details p {
    font-size: 1rem; /* Adjusted font size */
  }
}

/* Laptop specific styling */
@media (min-width: 1025px) {
  .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .project-content {
    display: flex;
    align-items: center;
    flex-direction: row; /* Row direction for laptop view */
  }

  .project-image {
    flex: 0 0 30%;
    padding-right: 40px;
  }

  .project-details {
    flex: 0 0 65%;
    padding-left: 40px;
    text-align: left;
  }

  /* Alternate project item layout */
  .project-item:nth-child(odd) .project-image {
    order: 1; /* Image on the left for odd items */
    padding-right: 40px;
    padding-left: 0;
  }

  .project-item:nth-child(odd) .project-details {
    order: 2;
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
  }

  .project-item:nth-child(even) .project-image {
    order: 2; /* Image on the right for even items */
    padding-right: 0;
    padding-left: 40px;
  }

  .project-item:nth-child(even) .project-details {
    order: 1;
    padding-left: 0;
    padding-right: 40px;
    text-align: right; /* Align text to the right */
  }
}
