/* General Styling */
.project-page {
  padding: 50px 5%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;

}

.project-header {
  position: absolute;
  left: 20px;
  top: 0px;
}

.vertical-heading {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  opacity: 0.3;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center cards horizontally */
}

.project-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 300px; /* Allow cards to grow and shrink */
  max-width: 300px; /* Ensure card width does not exceed */
  margin: 10px; /* Margin between cards */
  border: #fff 1px solid;
}


.project-image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.project-info {
  padding: 20px;
}

.project-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.project-description {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #666;
}

/* Responsive Adjustments */
@media (max-width: 380px) {
  .project-header {
  top:0;
  left: 0;
  /* margin-top: 20px; */
  }
  .vertical-heading {
    font-size: 1.3rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
  }
}


@media (min-width: 380px) and (max-width: 410px) {
  .project-header {
  top:0;
  left: 0;
  /* margin-top: 20px; */
  }
  .vertical-heading {
    font-size: 1.8rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
  }
}

@media (min-width: 730px) and (max-width: 870px) {
  .project-header {
  top:0;
  left: 0;
  /* margin-top: 20px; */
  }
  .vertical-heading {
    font-size: 3rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
  }
}

@media (min-width: 410px) and (max-width: 540px) {
  .project-title {
    font-size: 1.2rem; /* Adjust title size for smaller screens */

  }

  .project-description {
    font-size: 0.8rem; /* Adjust description size for smaller screens */
  }
    .project-header {
  top:0;
  left: 0;
  /* margin-top: 20px; */
  }
  .vertical-heading {
    font-size: 3rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
  }
}
