
nav {
  width: 100%;
  height: 40px;
  color: #000;
  padding: 4px 0;
  position: fixed;
  top: 0px; /* Positioned just below the logo */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: top 0.5s;
  border-bottom: 1px #212121 solid;
  opacity: 0;
    overflow-y: hidden;

}

.nav {
  color: #fff;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  opacity: none;
}

.logo-img {
  width: 110px;
  text-align: center;
  justify-content: center;
  left: 10px;
  position: relative;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
li:hover{
cursor: pointer;

}
.btn {
  background-color: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.dark-nav {
  background-color: #fff;
  color: #fff;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  /* .logo-img {
    width: 140px;
  } */

  nav ul li {
    margin: 10px 25px;
  }
}

@media (min-width: 841px) {
  /* .logo-img {
    width: 140px;
  } */

  nav ul li {
    margin: 10px 25px;
  }
}

@media (max-width: 840px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #1D1D1D;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px 40px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .hide-mobile-menu {
    right: -200px;
  }
}


