
.gallery {
  /* margin: 30px; */
  padding: 20px;
}

.gallery-item {
  width: 100%;
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


/* Styles for the new section */
.gallery-container {
    margin-top: 20px;
    flex-direction: column;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-bottom: 1px solid #333;
        padding-bottom: 20px;
    background-color: rgba(0,0,0,0.8);

}

.gallery-btn {
  background-color: #ff6f61; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px; /* Button padding */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-transform: uppercase;
  border-radius: 5px; /* Rounded corners */

}

.gallery-btn:hover {
  background-color: #ff8b81; /* Button background color on hover */
}

.gallery-btn a {
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color from button */
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
