.maingalleryTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.returnIcon{
  position: relative;
  width: 30px;
  height: 20px;
  top: 3px;
}
html {
  background-image: url("/src/assets/Artboard 3.jpg");
  background-size: contain;
  background-size: 100% auto; 
  overflow: none;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: fit-content;
}
.maincontainer{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
      position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
.nav a {
  color: black;
  text-decoration: none;
  margin: 0 0;
  font-size: 18px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #ee1400;
}

.gallery {
  /* margin: 30px; */
  padding: 20px;
}

.galleryItem {
  width: 100%;
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galleryContainer {
  flex-direction: column;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-bottom: 20px;
    width: 100%;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modalContent {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
