.news-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.news-container {
    padding: 50px 20px; /* Adjust padding as needed */
    text-align: center;
    margin: 10px auto;
    border-bottom: 1px solid #333;
}

.news-container-heading {
    font-size: 2.5rem;
    color: #fff; /* Adjust color to fit your theme */
    margin-bottom: 20px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.news-slides {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Ensure horizontal scroll on all devices */
    scroll-snap-type: x mandatory; /* Enable smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Improve scroll performance on iOS */
}

.news-slide {
    background: #f8d673;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px; /* Fixed width for consistent sizing */
    flex: 0 0 auto;
    scroll-snap-align: start; /* Ensure each slide aligns properly */
}

.news-image {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.news-content {
    padding: 15px;
}

.news-content h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #313f57;
}

.news-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.news-content ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #313f57;
}

.news-content p {
    font-size: 14px;
    color: #313f57;
    line-height: 1.5;
    margin: 10px 0;
}

.news-content a {
    display: inline-block;
    background: #313f57;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.news-content a:hover {
    background: #313f56;
}

@media (max-width: 768px) {
    .news-slide {
        width: calc(100vw - 20px); /* Adjust to full viewport width minus gap */
        max-width: 300px; /* Limit maximum width for smaller devices */
    }

    .news-image {
        height: auto; /* Ensure images scale appropriately */
    }

    .carousel-btn {
        font-size: 24px;
        padding: 10px;
    }

    .news-slides {
        gap: 10px; /* Maintain the same gap between slides */
    }
}

@media (max-width: 992px) {
    .news-slide {
        width: calc(100vw - 20px); /* Adjust to full viewport width minus gap */
        max-width: 300px; /* Limit maximum width for tablets */
    }
}
