/* News.css */
.news-section {
background-color: black;  padding: 20px;
  margin: 20px; /* Center the section horizontally */
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.newscontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
    border-top:1px solid #fff;
  border-bottom: 1px solid #fff;
    position: relative;
    background-color: black;

}

.news-content {
  flex: 1;
  padding: 0 20px;
  text-align: center; /* Center align content */
}

.news-description {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 20px;
}

.news-btn {
  background-color: #DCD7C9;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Ensure button is a block element for centering */
  margin: 0 auto; /* Center align button */
    font-weight: 900;

}

.news-btn:hover {
  background-color: #A27B5C;
}

@media (max-width: 768px) {
  .news-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tumblr-post {
    margin-bottom: 20px;
  }

  .news-content {
    padding: 0;
  }

  .news-btn {
    margin-top: 20px; /* Add space between content and button */
  }
}

.news-header {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 10;

  display: flex;
  flex-direction: column; /* Set to column for vertical centering */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  height: -webkit-fill-available; /* Make sure the height of the container is full view height */
}

.vertical-heading2 {
  font-size: 6rem;
  color: #000;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  opacity: 0.3;
  font-family: "Bebas Neue";
  font-weight: 900;
  font-style: italic;
    white-space: pre; /* Preserves spaces */

}

/* Responsive Adjustments */
@media (min-width: 660px) {
  .vertical-heading2 {
    font-size: 4.5rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
        color: #fff
  }
}

/* Responsive Adjustments */
@media (min-width: 580px) and (max-width: 660px){
  .vertical-heading2 {
    font-size: 4.5rem; /* Adjust heading size for smaller screens */
    font-weight: 900;
        color: #f70100;
  }
}


@media (max-width: 580px){
  .news-header{
        padding: 20px;
  }
  .vertical-heading2 {
    font-size: 4.5rem; /* Adjust heading size for smaller screens */
    color: #000;
  }
}